# dependencies
node_modules

# builds
dist
client/dist

# misc
.DS_Store
*.tar.gz

# env files (keep .env.example)
.env
.env.local
.env.*.local

# Replit (no longer needed)
.replit
replit.nix

# IDE
.idea
.vscode
*.swp
*.swo
